* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  display: flex;
}

.content {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background: white;
  position: relative;
}

.shape {
  width: 50px;  
  height: 50px;
  border-radius: 50%;
  background: #FF7676;
  display: inline-block;
}

@keyframes beat {
  0% {
    transform: scale(1);

  }
  25% {
    transform: scale(1.5);

  }
  50% {
    transform: scale(1);

  }
  75% {
    transform: scale(1.2);

  }
  100% {
    transform: scale(1);

  }
}

.shape {
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}